.jumbotron {
  padding-top: 6rem;
  background-color: #8a5ad8;
}

#about {
  background-color: #8a5ad8;
}

#jadwalkuliah {
  background-color: #8a5ad8;
}

#pendidikan {
  background-color: #8a5ad8;
}

#aktivitas {
  background-color: #8a5ad8;
}
